RewriteEngine On

# Exclude /assets and /media directories and images from rewrite rules
RewriteRule ^(assets|media)/* - [L]
RewriteRule \.(jpg|jpeg|png|gif|ico)$ - [L]

# Rewrite domain.com -> www.domain.com -- used with SEO Strict URLs plugin
RewriteCond %{HTTP_HOST} .
RewriteCond %{HTTP_HOST} !^{{domain_escaped}} [NC]
RewriteRule (.*) http://{{domain}}/$1 [R=301,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ /cgi-wrapper/{{project}}-sh.fcgi/$1 [QSA,L]
